
<!doctype html>
    <html lang="en"><head><meta charset="utf-8"><title>{{ page.title }}</title></head>
        <body>
            {% include style.html %}
            <div class="w3-bar w3-white w3-hide-small w3-display-center">
              <a href="/" class="w3-bar-item w3-button"><img src="/images/icon_gama_50.png"></a>
              <a href="/wiki/Home" class="w3-bar-item w3-button w3-text-blue">Documentation</a>
              <a href="/wiki/Tutorials" class="w3-bar-item w3-button w3-text-blue">Tutorials</a>
              <a href="/" class="w3-bar-item w3-button w3-text-blue">Download</a>
              <a href="/" class="w3-bar-item w3-button w3-text-blue">Community</a>
            </div>
            
            <div class="w3-content">
                <header class="w3-display-container w3-wide" id="home">
                    <img class="w3-image" src="/images/GamaPlatform.png" alt="Gama Platform" width="1600" height="1060">
                    <div class="w3-display-right w3-padding-large">
                      <h1 class="w3-text-blue">GAMA PLATFORM</h1>
                      <h6><button class="w3-button w3-blue w3-text-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="">DOWNLOAD</button></h6>
                    </div>
                </header>
                {{ content }}
            </div>
        </body>
    </html>
